{% extends "::base.html.twig" %}

{% block title %}ModelBundle:Question:index{% endblock %}

{% block body %}
    <ol>
    {% for entity in entities %}
        <li><a href="{{ path('model_question_show', {id:entity.id}) }}">{{ entity.question }}</a></li>
    {% endfor %}
    </ol>
{% endblock %}

