{% extends "::base.html.twig" %}

{% block title %}ModelBundle:Question:index{% endblock %}

{% block body %}
    {% for entity in entities %}
        {{ entity.question }}
    {% endfor %}


    <body>
    <div class="well">
        <div class="row">
            <div class="col-md-2"><i class="fa fa-anchor" aria-hidden="true"></i>&nbsp;font-awesome</div>
            <div class="col-md-2">bootstrap</div>
            <div class="col-md-2">jquery:  <span class="status">not working</span></div>
            <div class="col-md-2">jquery ui</div>
            <div class="col-md-2"><button class="button btn-primary">button</button>&nbsp;bootstrap-theme</div>
        </div>
    </div>
    </body>

{% endblock %}

