{% extends "::math-template.html.twig" %}

{% block title %}ModelBundle:Question:show{% endblock %}

{% block body %}
    {{ entity.question }}
<h1>Welcome to the Question:show page</h1>
{% endblock %}
