{% extends "::math-template.html.twig" %}

{% block title %}ModelBundle:Question:show{% endblock %}

{% block body %}
    {{ entity.question }}
{#<h1>Welcome to the Question:show page</h1>#}


    <div class="well">
        <div class="row">
            <div class="col-md-2"><i class="fa fa-anchor" aria-hidden="true"></i>&nbsp;font-awesome</div>
            <div class="col-md-2">bootstrap</div>
            <div class="col-md-2">jquery:  <span class="status">not working</span></div>
            <div class="col-md-2">jquery ui</div>
            <div class="col-md-2"><button class="button btn-primary">button</button>&nbsp;bootstrap-theme</div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(".status").text("working")
        })
    </script>
{% endblock %}
